.reservation
{
    float: left; 
    background-color: #222222;
    position: absolute;
    top: 16%;
    left: 35%;
    width: 32%;
    height: 30%;
    font-family: georgia, serif;
    color: white;
    border: solid;
    text-align: center;
}

#ez
{
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #60a3bc;
padding: 20px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}