<div class="box_ytb">
<iframe width="900" height="500"src="https://www.youtube.com/embed/ohU26fbW6-s"> </iframe> 
</div>

<div class="tarif">

  <h1> CinémaPro</h1>
  <hr>
  <h3 id="uno">    TARIFS </h3>
<div class="boki">
  <p>    Plein 3D Incluse :                                                                       9.20 euros </p>
  <p>    Après Midi Semaine :                                                                 8.00 euros </p>
  <p>    Senior :                                                                                        8.00 euros </p>
  <p>    Etudiants jusque 26 :                                                                   7.50 euros </p>
  <p>    Etudiants -16 :                                                                             5.00 euros</p>
  <hr>
  <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.039601142908!2d3.968850916092568!3d50.27251917945112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2682dd422c8af%3A0x3d8a1cee72c414cc!2sOcin%C3%A9%20Maubeuge!5e0!3m2!1sfr!2sfr!4v1608288972232!5m2!1sfr!2sfr" width="608" height="180" frameborder="0"></iframe>
</div>
</div>

<div class="feed">
  <img  src="https://i.ibb.co/3m3tb1b/fotop.png" alt="fotop" >